.chat-page-wrap {
  width: 100%;
  background: white;
}
.chat-icon {
  filter: grayscale(100%);
  float: right;
  padding: 5px;
  cursor: pointer;
}
.chat-page-small {
  width: 100vh;
}
.display-none {
  display: none;
}
.emoji-mart {
  margin-left: 55px;

  padding: 6px;
  position: fixed;
  z-index: -1;
}
